---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout activeTab="home">
  <div class="main-layout">
    <main class="content">
      <section class="profile-page">
        <h2>About</h2>
        <div class="profile-card">
          <p>技術的な備忘録（Blog）や、読んだ本のアウトプット（Bookメモ）をまとめる。</p>
		  <p>Github: <a href="https://github.com/flightonary">flightonary</a></p>
        </div>
      </section>
    </main>
  </div>
</BaseLayout>